<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>we have submit from , <%= @user.name %>!</h2>
    <p>
      Subject: <%= @email_subject %>
    </p>
    <p>Message: <%= @message %></p>
  </body>
</html>
