<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thank you for contact, <%= @user.name %>!</h2>
    <p>
      We'll be in touch soon!
    </p>
    <p>Have a great day! :)</p>
  </body>
</html>
