<div data-modal-target="form" class="c-modal__form" style="display:none">
    <button class="c-modal__close" data-action="click->modal#close">X</button>
    <%= tag.div nil, id: 'c-article__form--stream' %>
</div>
