<footer class="c-footer">
  <p class="u-bg--black c-footer__text">Build:  Warren Nguyen
  | Design: <a href="https://www.tooplate.com" class="c-footer__link" rel="sponsored" target="_parent">Tooplate</a></p>
</footer>

<!-- Background video -->
<div class="c-video-wrapper">
  <i id="c-video-control-button" class="fas fa-pause"></i>
  <video autoplay muted loop id="c-video">
      <source src="videos/rails-cafe-video-bg.mp4" type="video/mp4">
  </video>
</div>