<div id="about" class="u-mt--20">
    <div class="u-bg--black u-mb--20 c-about-box-1">              
        <h2 class="u-text--primary c-about-header">About Rails Cafe</h2>
        <div class="c-list-item c-list-item-2">     
            <img src="img/rails-cafe.png" alt="Image" class="c-list-item-img c-list-item-img-big">
            <div class="c-list-item-text-2">
                <p> I'm using the template from  ToolPlate and build it to Ruby on Rails. Which is fast easy update create Items. </p>
                <p>What  I upgrate to it.</p>
                <div class="c-about__details">
                    + Rebuild it to SCSS with BEM structure <br>
                    + Using Sitmulus and turbo frame for Tab, and render create Items<br>
                    + Ruby on Rails <br>
                    + Turbo Frame <br>
                    + Turbo Stream <br>
                    + Sitmulus <br>
                    + Email using smtp <br>
                    + Auto Deploy <br>
                    + VPS setup with Debian, Nginx, Ruby( for Rails) working well with both (Mysql, Sqllite)
                </div>
                <p>Build by Warren Nguyen, design by Tooplate.</p>
            </div>                
        </div>
    </div>
    <div class="u-bg--black u-mb--20 c-about-box-2">              
        <div class="c-list-item c-list-item-2">                
            <div class="c-list-item-text-2">
                <img src="img/about-warren.png" alt="Image" class="c-list-item-img  u-mb--20  c-list-item-img-thumb o-img--right">                
                <h2 class="u-text--primary">Who is Warren Nguyen?</h2>
                <p>He has a passion for coding and investment. </p>
                <p>He has 6 years of experience with HTML5, SCSS, JS, PHP, and WordPress. 2 years of experience with REACTJS, and recently he found he like to build code with Ruby on Rails. </p>
                <p>He works for companies and also as a freelancer for a very long time.</p>
                <p>Thank you for travel on this demo.</p>                  
            </div>                
        </div>
    </div>
</div>